@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Text Parser</h1>
    
</div>

<div class="row">
    <div class="col-md-36">
        @using (Html.BeginForm())
        {
            <fieldset>
                <p>
                    <label for="text">Enter text here:</label>
                    <br />
                    @Html.TextArea("text", string.Empty, 20, 100, null) 
                    @Html.ValidationMessage("text")
                 
                    <input type="submit" name="Xml" value="Download XML" />
                    <input type="submit" name="Csv" value="Download CSV" />
                </p>
            </fieldset>
        }
    </div>

</div>